body {
	/* margin: 0; */
	padding: 0;
}

/* def id css*/
#container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: white;
}

#navbar {
	width: auto;
	height: auto;
	background-color: white;
	justify-content: flex-end;
	display: flex;
	text-align: center;
	padding-top: 45px;
	padding-right: 37px;
	margin-bottom: 220px;
}

#navgmail {
	margin-right: 15px;
}

#logo {
	display:flex;
	justify-content: center;
	
}

#input_container {
	display: flex;
	justify-content: center;
	width:auto;
	height: auto;
	margin-top: 54px;
	
	&:focus {
		border: transparent;
		box-shadow: 0 1px 6px rgba(32,33,36,.28);
	}
}

#input {
	color: #000000;
	width: 807px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #E4DFDF;
	padding: 20px;
	&:hover {
		border: transparent;
		box-shadow: 0 1px 6px rgba(32,33,36,.28);
	}
	&:focus-visible {
		outline: -webkit-focus-ring-color auto 0px;
	}
	font-family: Apple SD Gothic Neo, arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	overflow-x: hidden;
}

#link_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 71px;
}

#links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 470px;
	height: 60px;
}

#link_search {
	width: 188px;
	align-items: center;
}

#link_lucky {
	width: 219px;
	align-items: center;
}

#link_a_tag_text {
	font-family: Roboto;
	font-weight: 400;
	font-size: 24px;
	line-height: 28.13px;
	color: #20212B;
}

/* def class css*/
.link_button_common {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E7E7E7;
	height: 56px;
	border-radius: 10px;
	&:hover {
		border: 1px solid black;
		cursor: pointer;
	}
}

.nav_link_text {
	font-family: Roboto;
	font-size: 24px;
	font-weight: 300;
	line-height: 28.13px;
	&:hover {
		cursor: pointer;
	}
	text-decoration: none; /* remove underline */
}