.todoListItem {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3rem;
}
.done {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #c0c0c0;
}
.checkbox {
  position: relative;
  margin-right: 1rem;
  padding-top: 10px;
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
}
.TodoButtonInside{
  width: 85px;
  height: 40px;
  font-size: 1.3em;
  outline: 0;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  background-color: #6da8ac;
}

.dueDateStyle {
  /* 원하는 스타일 추가 */
  margin-left: 5px; /* 예시: content와 dueDate 사이에 간격 추가 */
  color: red; /* 예시: 텍스트 색상 변경 */
}