li {
    border: 4px solid #ffffff;
    border-width: 5px ;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  
  .do{
    text-decoration: line-through;
    color : grey;
  }
  
  .notdo{
  }

.checkbox{
    margin-right: 10px;
    transform: scale(2);
    vertical-align: 3px;
    
  }

  .trashcanbutton{
    margin-left: 10px;
    background-color: #fcfcfc;
    border-radius: 10px;
    cursor: pointer;
  }